{% extends "base.html" %} 
{% block title %} Home {% endblock %} 
{% block content %}

<header class="text-white text-center py-5" style="background-image: url('../static/images/brand_bg.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container">
        <div class="hero mt-5">
            <h1 class="display-4 mb-4">CUSTOM WATCHES FOR ANY OCCASION</h1>
            <div class="d-flex justify-content-center gap-3">
                <a href="/" class="btn btn-light btn-lg">Design & Order</a>
                <a href="#" class="btn btn-outline-light btn-lg">Request Virtual</a>
            </div>
        </div>
    </div>
</header>

<section class="store py-5">
    <div class="container">
        <h2 class="display-5 text-center mb-4">Our Store</h2>
        <p class="lead text-center">
            Memphis clinched a spot in the play-in tournament with the victory, 
            but the fight for seeding continues. The race for the No. 8 spot in the West 
            -- and the safety net of having to win just one of two games to make the playoffs 
            -- could come down to the regular season's final day, when Memphis and Golden State...
        </p>
    </div>
</section>

{% endblock %}
